@import "./variables.css";

/* Simple reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
#app {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-bg);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.45;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  margin: 0 0 var(--space-md) 0;
  font-weight: 600;
}

/* Links */
a {
  color: var(--color-primary-200);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Buttons */
.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius-sm);
  border: none;
  cursor: pointer;
  background: var(--color-primary);
  color: #fff;
  box-shadow: var(--shadow-sm);
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Forms */
input,
textarea,
select {
  font: inherit;
  padding: 0.5rem;
  border: 1px solid var(--gray-300);
  border-radius: var(--radius-sm);
  background: var(--color-surface);
  color: var(--color-text);
}

/* Utilities */
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--space-md);
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
